body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #46484a; }
.container{
width:80%;
text-align:center; 
}
a {
  color: #59a0d7; }

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  font-weight: 600; }

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 500; }

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 500; }

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

p {
  color: #696b6e;
  font-size: .9rem; }

    .navbar{
  border:none;  
  }

.divider {
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: #dfe1e5;
  margin: 2rem auto; }
  
.navbar-trans {
  background: transparent; }

a.navbar-brand, a.logo {
	font-family: 'Lato', sans-serif;
	color: #fff !important;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0; }

  .navbar-collapse{
  	flex-basis:50%;
  }

a.logo:hover, a.logo:active, a.logo:focus {
  text-decoration: none; }

li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }


.cover {
  background: #2b2d34 url(images/bg.jpeg) center;
  min-height: 10rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }
  
  .cover h1 {
    font-weight: 200; }
  
  .cover p.lead {
    margin: 2rem auto;
    color: rgba(255, 255, 255, 0.75); }
  
  .cover .cover-container {
    display: table;
    height: 100%;
    min-height: 10rem;
    margin: 0 auto; }

 .btn-primary{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1em;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:0px;
}

 .btn-primary:hover {
  background: #18a2f7;
  text-decoration: none;
}

.btn-secondary {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  background: transparent;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color:#ffffff;
}

.btn-secondary:hover {
  background: #18a2f7;
  text-decoration: none;
}

.link-white, link-white:visited {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem;
  border: 0;
  color: #fff; }

.link-white:hover, .link-white:focus, .link-white:active {
  color: #dfe1e5 !important; }

.imagen2{
text-align:center;
width:200px;  }

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 20px;
    width: 20px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}
.carousel{
    width:300px;
    margin: auto;
}

.colcenter{
text-align:center;
padding:10px;  
}
.col{
 padding:10px; 
}
footer{
color:white;
background-color:black;  
}
    .ingresa{
    display:inline-block;
    margin: 2rem auto;
    color: rgba(255, 255, 255, 0.75);
    padding:0.3rem;
    border-radius:10%;
    }
    .buscar{
      display: inline-block;
  background: #3498db;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  background: #3498db;
  padding: 10px 20px 0px 20px;
  text-decoration: none;
    }

      .buscar:hover{
  background: #3498db;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  background: #349888;
  padding: 10px 20px 0px 20px;
  text-decoration: none;
    }
